body {
  padding-top: 80px; }

.header {
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
  position: fixed;
  background-color: var(--fondo-color);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.header__topNav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto; }

.header__img {
  height: 60px;
  width: 75px;
  align-items: center; }

.header__logo {
  display: flex;
  align-items: center;
  font-family: "Atma";
  font-size: 40px;
  font-weight: 500;
  color: var(--primary-color);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: 0.3s;
  margin-top: 5px; }
  .header__logo:hover {
    color: crimson; }

.header__logo-beer {
  color: #ffd371; }

.header__logo-text {
  line-height: 0.6em; }

.header__logo-textSec {
  font-size: 15px;
  color: #222121; }

/* MENU */
.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.header__listMenu {
  padding: 0 15px; }

.header__menulink {
  color: var(--text-color);
  font-size: 16px;
  padding: 5px;
  font-family: "Atma";
  font-weight: 500;
  line-height: 70px;
  transition: 0.3s; }
  .header__menulink:hover {
    background-color: crimson;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    border-radius: 10%; }

.openMenu,
.closeMenu {
  display: none; }

@media screen and (max-width: 774px) {
  /* MENU */
  .header__menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: var(--menu-mobile-bg-color);
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .header__listMenu {
    padding: 0; }
  .header__menulink {
    color: var(--primary-color);
    text-shadow: 0 1px 1px gray;
    font-family: "Atma";
    line-height: 60px;
    height: 100%; }
  .openMenu,
  .closeMenu {
    display: block;
    border: none;
    background: none;
    cursor: pointer; }
  .closeMenu {
    align-self: flex-end;
    padding: 20px 15px; }
  .closeMenu,
  .openMenu img {
    height: 30px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; } }

.fs-4 {
  color: red; }

.btn-enviar {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color-inverso);
  background-color: #f12020;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s; }
  .btn-enviar:hover {
    background: #000;
    color: #f12020; }

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense; }

.titulo__galeria {
  text-align: center;
  font-family: "Atma";
  color: #black;
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8); }

#bg-galeria {
  background: #abbaab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff, #abbaab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

@media (min-width: 600px) {
  .wide {
    grid-column: span 2; }
  .tall {
    grid-row: span 2; } }

.contenedor-form {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }

ul {
  list-style: none;
  padding: 0; }

.titulo-form {
  color: #B70E21;
  font-size: 2em; }

.titulo2-form {
  color: #fff; }

label {
  color: #fff; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #222222; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031; }

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

/* CONTACT INFO */
.contact-info {
  background: #000; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

/* LARGE SIZE */
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
    color: #696969; } }

.logo__text {
  font-family: "Atma";
  font-size: 40px;
  font-weight: 500;
  color: var(--primary-color);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8); }

.logo__text-beer {
  color: #ffd371;
  font-family: "Atma";
  font-size: 40px;
  font-weight: 500;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8); }
