* {
  padding: 0px;
  margin: 0px;
}

:root {
  --fondo-color: white;
  --primary-color: #fb4848;
  --secundary-color: #ffd371;
  --text-color: black;
  --text-color-inverso: rgb(255, 255, 255);
  --navbar-shallow-color: #635353;
  --menu-mobile-bg-color: #ffd371;
}

body {
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.topHeader {
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
  position: fixed;
  background-color: var(--fondo-color);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.topNav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Atma";
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}

.small {
  line-height: 0.9;
}

.textSec {
  font-size: 10px;
}

/* MENU */

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0 15px;
}

.menu a {
  color: var(--text-color);
  font-size: 16px;
  font-family: "Atma";
  font-weight: 500;
  line-height: 70px;
}

.menu a:hover {
  border-bottom: #fb4848 solid;
  border-top: #ffd371 solid;
}

.openMenu,
.closeMenu {
  display: none;
}

/*carrosel*/

.pruebaCarousel .carousel-item {
  min-height: 60vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.pruebaCarousel .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.pruebaCarousel .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pruebaCarousel .carousel-item h2 {
  font-size: 80px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}

.pruebaCarousel .carousel-item p {
  font-size: 30px;
  margin: 0;
  color: #ffd371;
  opacity: 0;
}

.pruebaCarousel .carousel-item.active h2 {
  animation: fadeInLeft 0.5s ease forwards;
}

.pruebaCarousel .carousel-item.active p {
  animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*------------------------*/

.card-border {
  border: solid 3px white;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.card-border:hover {
  transform: scale(1.05);
}

/* FOOTER */

footer {
  bottom: 0px;
  width: 100%;
  background: #111;
}

.footer__contenedor {
  display: flex;

}

.footer__box {
  flex-basis: 50%;
  padding: 10px 20px;
  
}

.footer__titulo {
  font-size: 1.125rem;
  color: var(--text-color-inverso);
  font-weight: 600;
  text-transform: uppercase;
}

.footer__contenido {
  margin: 20px 0 0 0;
  position: relative;
  color: var(--text-color-inverso);
}

.footer__contenido:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.footer__contenido:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}

.footer__cont-info {
  text-align: justify;
}

.footer_social {
  margin: 20px 0 0 0;
}

.footer__social-link {
  padding: 0 2px;
  color: var(--text-color-inverso);
}

.footer__social-link span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.footer__social-link span:hover {
  background: #f12020;
}

.footer__center .fas {
  font-size: 1rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.footer__center .fas:hover {
  background: #f12020;
}

.footer__text {
  font-size: 1em;
  font-weight: 500;
  padding-left: 10px;
}

.footer__phone {
  margin: 10px 0;
}

.footer__textform {
  font-size: 1em;
  margin-bottom: 2px;
  color: #656565;
}

.footer__right form .footer__msg {
  margin-top: 10px;
}

.footer__right form input,
.footer__right form textarea {
  width: 100%;
  font-size: 1em;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.footer__right form input {
  height: 35px;
}

.footer__formbtn {
  margin-top: 10px;
}


.copy {
  padding: 5px;
  color: var(--text-color-inverso);
  background: #151515;
  font-size: 0.9em;
}

/* MEDIAS QUERY */

@media screen and (max-width: 694px) {
  /* MENU */

  .header__menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: var(--menu-mobile-bg-color);
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .header__listMenu {
    padding: 0;
  }

  .header__menulink {
    color: var(--primary-color);
    text-shadow: 0 1px 1px gray;
    font-family: "Atma";
    line-height: 60px;
    height: 100%;
  }

  .openMenu,
  .closeMenu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

   .closeMenu {
    align-self: flex-end;
    padding: 20px 15px;
  }

  .closeMenu,
  .openMenu img {
    height: 30px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .footer__contenedor {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer__box {
    margin: 5px 0;
  }
}
